html
  head
    title WebGL Edge Detection
    link(rel="stylesheet" href="/styles.css")
  body
    .container
      canvas(id="canvas" width="500" height="500")
    img(id="test-image" src="/puppy.jpg" style="display:none;")
    script(src="/dist/bundle.js" type="text/javascript")
