canvas {
  background: #000;
}

html {
  background: #efefef;
}

input[type="file"] {
  display: none;
}

img {
  display: none;
}

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controller {
  margin-left: 20px;
}

.controller > div {
  margin-bottom: 15px;
}

.image-upload {
  margin-left: 20px;
}

.image-upload * {
  font-size: 16px;
}

.image-upload .error-text div {
  font-size: 16px;
  color: #f54;
  margin-top: 10px;
}

.threshold-sliders .slider-label {

}
